[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = ">18.*"
isort = "*"
pytest = "*"
pytest-docker = "*"

[packages]
cryptography = "*"
nltk = "*"
pymysql = "*"
python-crfsuite = "*"
scikit-learn = "*"
sklearn-crfsuite = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
